doctype html
html(lang='en')
  head
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    // Bootstrap CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Site CSS
    link(rel='stylesheet', href='css/style.css')
    // Responsive CSS
    link(rel='stylesheet', href='css/responsive.css')
    // Custom CSS
    link(rel='stylesheet', href='css/custom.css')
  body
    include ./header.pug
    .container
      // get data api
      #emp_body
      // pagination click
      #pager
        #pagination.pagination-sm
    include ./footer.pug
    script(src='https://code.jquery.com/jquery-3.4.1.js')
    script(src='js/bootstrap.min.js')
    script(src='js/popper.min.js')
    script(src='js/jquery.superslides.min.js')
    script(src='js/bootstrap-select.js')
    script(src='js/inewsticker.js')
    script(src='js/bootsnav.js.')
    script(src='js/images-loded.min.js')
    script(src='js/isotope.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/baguetteBox.min.js')
    script(src='js/form-validator.min.js')
    script(src='js/contact-form-script.js')
    script(src='js/custom.js')
    script(src='./jquery.twbsPagination.js')
    script(type='text/javascript').
      $(document).ready(function() {
      var $pagination = $("#pagination"),
      totalRecords = 0,
      records = [],
      displayRecords = [],
      recPerPage = 10,
      page = 1,
      totalPages = 0;
      $.ajax({
      url: "https://data-aq-mobile.herokuapp.com/products",
      async: true,
      dataType: "json",
      success: function(data) {
      records = data;
      console.log(records);
      totalRecords = records.length;
      totalPages = Math.ceil(totalRecords / recPerPage);
      apply_pagination();
      }
      });
      function generate_table() {
      var sendData;
      $("#emp_body").html("");
      for (var i = 0; i < displayRecords.length; i++) {
      sendData = $("<div/>");
      sendData.append("<div>" + displayRecords[i].id + "</div>");
      sendData.append("<div>" + displayRecords[i].name + "</div>");
      sendData.append("<div>" + displayRecords[i].vitri + "</div>");
      $("#emp_body").append(sendData);
      }
      }
      function apply_pagination() {
      $pagination.twbsPagination({
      totalPages: totalPages,
      visiblePages: 6,
      onPageClick: function(event, page) {
      displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
      endRec = displayRecordsIndex + recPerPage;
      console.log(displayRecordsIndex + "ssssssssss" + endRec);
      displayRecords = records.slice(displayRecordsIndex, endRec);
      generate_table();
      }
      });
      }
      });
